.hero-img-about::before {
    content: "";
    background: url("../../IMG/IMG/BG-about.jpg");
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

